.playlistView {
    border: 2px solid #9342d8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 10px;
    text-align: left;
}

.playlistTitle, .playlistAuthor {
    margin-bottom: 1px;
    margin-left: 10px;
}

.playlistAuthor {
    color: #888888;
    margin-bottom: 30px;
    margin-top: 1px;
}
