.playlistView {
    border: 2px solid #9342d8;
    border-radius: 10px;
    padding: 10px 10px 8% 10px;
    text-align: left;
}

.playlistInfo {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
}

.image {
    align-self: center;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.playlistTextInfo {
    margin-left: 5px;
}

.title, .author {
    margin-bottom: 5px;
    margin-left: 10px;
}

.title {
    font-size: 32px;
}

.author {
    color: #888888;
    font-weight: bold;
    margin-top: 5px;
}
