.playlist {
    display: flex;
    text-align: left;
    align-items: flex-start;
    margin: 2px 0;
    padding: 5px;
    border-radius: 10px;
}

.playlist:hover {
    background-color: #3a3a3a;
    transition: background-color 0.3s;
    cursor: pointer;
}

.playlistCoverArt {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.playlistInfo {
    display: flex;
    flex-direction: column;
}

.playlistTitle, .playlistAuthor {
    margin: 1px 10px;
    font-size: 12px;
}

.playlistAuthor {
    color: #888888;
}
