.browser {
    width: 25%;
    border: 2px solid #9342d8;
    border-radius: 10px;
    padding: 10px;
}

.browserHeader {
    display: flex;
    align-items: center;
    color: #9342d8;
}

.addButton {
    justify-self: flex-end;
    background-color: transparent;
    color: #9342d8;
}

.playlist {
    display: flex;
    text-align: left;
    align-items: flex-start;
    margin: 5px 0;
}

.playlistCoverArt {
    width: 75px;
    height: 75px;
}

.playlistInfo {
    display: flex;
    flex-direction: column;
}

.playlistTitle, .playlistAuthor {
    margin: 1px 10px;
    font-size: 12px;
}

.playlistAuthor {
    color: #888888;
}
