.browser {
    border: 2px solid #9342d8;
    border-radius: 10px;
    padding: 10px;
}

.header {
    align-items: center;
    color: #9342d8;
    display: flex;
}

.libraryIcon, .addIcon {
    font-size: 24px;
}

.libraryIcon {
    margin-left: 10px;
}

.title {
    margin-left: 5px;
}

.tools {
    margin-left: auto;
}

.addButton {
    background-color: transparent;
    border: none;
    color: #9342d8;
    padding: 5px;
}

.addIcon:hover {
    font-size: 28px;
    transition: font-size 0.15s;
}
