.browser {
    width: 25%;
    border: 2px solid #9342d8;
    border-radius: 10px;
    padding: 10px;
}

.browserHeader {
    display: flex;
    align-items: center;
    color: #9342d8;
}

.addButton {
    justify-self: flex-end;
    background-color: transparent;
    color: #9342d8;
}

.title {
    margin-left: 5px;
}
