.song {
    display: flex;
    padding: 10px;
}

.song:hover {
    background-color: #3a3a3a;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.coverArt {
    align-self: center;
    border-radius: 10px;
    height: 45px;
    margin-right: 15px;
    width: 45px;
}

.songInfo {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: space-around;
}

.title, .author {
    margin: 0;
}

.title {
    font-size: 14px;
}

.author {
    color: #888888;
    font-size: 12px;
    font-weight: bold;
}
