.playlist {
    padding: 10px;
    width: 150px;
}

.playlist:hover {
    background-color: #3a3a3a;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.image {
    border-radius: 10px;
}

.title, .author {
    margin: 10px 5px;
    text-align: center;
}

.title {
    color: white;
}

.author {
    color: #888888;
    font-size: 14px;
}
