.logo {
    align-items: baseline;
    color: #9342d8;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 0.5rem;
}

.searchButton {
    background: none;
    margin-left: 0.5rem;
}

.profileInfo {
    display: flex;
}

.profile {
    align-self: center;
    margin-left: auto;
}

.profilePic {
    border: 5px solid #3a3a3a;
    border-radius: 50%;
}

.profilePic:hover {
    border: 7px solid #535bf2;
    cursor: pointer;
    transition: border-color 0.3s;
}

.title {
    color: #9342d8;
    transition: color 0.5s;
}

.userName {
    color: white;
    font-size: 16px;
    margin-right: 10px;
}
