.playlist {
    padding: 10px;
    width: 14%;
    margin: 10px;
    border-radius: 10px;
}

.playlist:hover {
    background-color: #3a3a3a;
    transition: background-color 0.3s;
    cursor: pointer;
}

.playlistTitle, .playlistAuthor {
    text-align: center;
    margin: 10px 5px;
}

.playlistAuthor {
    font-size: 14px;
    color: #888888;
}

.playlistCoverArt {
    border-radius: 10px;
}
