.login {
    border: 2px solid #9342d8;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loginForm, .loginForm > * {
    margin: 10px;
    padding: 10px;
}

.login, .loginForm {
    display: flex;
    flex-direction: column;
}

.loginTitle {
    color: #9342d8;
}

.email, .password {
    display: flex;
    flex-direction: column;
}

.submitButton {
    border: none;
}

.submitButton:hover {
    background-color: #9342d8;
    color: #242424;
    transition: background-color 0.5s;
}
