.player {
    width: 75%;
    height: 10%;
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(36, 36, 36, 0.9);
    border: 1px solid #9342d8;
    border-radius: 15px;
}

.trackInfo {
    display: flex;
    margin-right: 15px;
}

.albumArt {
    border-radius: 10px;
    margin-right: 15px;
}

.trackTextInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.trackTitle {
    font-weight: bold;
}

.trackAuthor {
    color: #c0c0c0;
}

.trackTitle, .trackAuthor {
    padding: 0;
    margin: 0;
}

.controls {
    display: flex;
    align-items: center;
}

.controls > * {
    margin: 0 10px;
    cursor: pointer;
}

.playControls {
    margin: 0 auto;
}